.App {
  text-align: center;
}

/*  */
.links>NavLink{
  text-decoration: none;
  background-color: #61dafb;
}
#Home-text>.text{
  margin-top: 10rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text>h3{
  font-size:1rem;
}
.text>p{font-family: fantasy;}
.text>.btn{border:2px solid #3498db;border-radius: 50px;}
.btn:hover{
  transition: .5s;
  background-color: #3498db;
}





/*  */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
